# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=ecommerce

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme

# Grafana
GF_SECURITY_ADMIN_PASSWORD=changeme

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=changeme
